* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navList {
  width: 100%;
  list-style: none;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  overflow: none;
  /* margin-left:15px;
    margin-right:15px; */
}
.container {
  height: 100%;
  width: 100%;
  overflow-x: none;
  background-color: rgb(45, 35, 232);
  background: linear-gradient(
    90deg,
    rgb(222, 30, 186) 0%,
    rgba(97, 231, 223, 1) 91%,
    rgba(0, 212, 255, 1) 100%
  );
}
.navContainer {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 191, 52, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  padding-right: 2rem;
}
#navlogo {
  font-size: 40px;
  color: azure;
}
a {
  text-decoration: none;
}
#navItems {
  display: flex;
  gap: 20px;
}
.footerBox {
  width: 100%;
  text-align: center;
  line-height: 2px;
  min-height: 40px;
}
.footerBox p {
  font-size: 25px;
  color: rgb(17, 3, 3);
  background-color: rgba(235, 12, 90, 0.826);
  background: linear-gradient(
    90deg,
    rgb(222, 30, 186) 0%,
    rgba(97, 231, 223, 1) 91%,
    rgba(0, 212, 255, 1) 100%
  );
  display:flex;
  margin-top:20px;
  justify-content:space-around;
  align-items:center;
}
.contentBox {
  width: 50%;
  margin: auto;
  padding: 40px;
  /* border:1px solid black; */
  background-color: #5FC3E4;
  display: flex;
  flex-direction: column;
  gap: 100px;
  box-shadow: 1px 1px 30px black;
}
.item {
  display: flex;
  justify-content: space-around;
}
.right-box {
  /* to odd overlay position absolute mark kar do and parent ki position relative hona chahiye */
  position: relative;
  overflow: hidden;
}
.rightBox img {
  height: 300px;
  width: 300px;
  border-radius: 30px;
}
.rightBox img:hover {
  transform: scale(1.2);
  transition: all 0.6s linear 0s;
}
.leftBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leftBox h2 {
  font-size: 30px;
}
.ingredientBox {
  font-size: 20px;
}
.recipeBox {
  font-size: 20px;
}
a:hover{
    color:rgba(66, 250, 25, 0.918);
    cursor:pointer;
    text-decoration: underline;
}
